<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign TA to Course</title>
</head>
<body>
<h1>Assign TA to Course</h1>
<form action="/assign-ta-course/" method="post">
    {% csrf_token %}
    <table>
        {% if tas %}
            <tr><td>Select TA:   <select required name="ta">
                {% for t in tas %}
                <option value="{{ t.0 }}">{{ t.1 }} ({{ t.0 }}), Skills: {{ t.2 }}</option>
                {% endfor %}
            </select></td></tr>
        {%  else %}
            <tr><td>There are no TAs to display.</td></tr>
        {% endif %}
        {% if lectures %}
            <tr><td>Select Lecture:   <select required name="lecture">
                {% for l in lectures %}
                <option value="{{ l.0 }}">{{ l.1 }} - {{ l.2 }}, Lecture {{ l.0 }}</option>
                {% endfor %}
            </select></td></tr>
        {%  else %}
            <tr><td>There are no lectures to display.</td></tr>
        {% endif %}
    </table>
    <input type="submit">
</form> <br><br>

{% if message %}
    {{ message }}
{% endif %} <br><br>

<h3>Assigned Lectures</h3>
{% if assignedLectures %}
    <table>
        <tr>
            <th>TA Name</th>
            <th>Lecture ID</th>
            <th>Course ID</th>
            <th>Course Name</th>
        </tr>
        {% for l in assignedLectures %}
            <tr>
                <td>{{ l.0 }}</td>
                <td>{{ l.1 }}</td>
                <td>{{ l.2 }}</td>
                <td>{{ l.3 }}</td>
            </tr>
        {% endfor %}
    </table>
{%  else %}
    <p>There are no assigned lectures to display.</p>
{%  endif %}
<br>

<br><br><br>
    <a href="/dashboard/">Dashboard</a><br><br>
    <form action="/" method="get">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>