<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>
<h1>Create Course</h1>
<form action="/create-course/" method="post">
    {% csrf_token %}
    <table>
        <tr><td>Course ID (Must be 3 integers): </td><td><input type="text" name="courseID" maxlength = "3" pattern="\d{3}" required></td></tr>
        <tr><td>Course Name: </td><td><input type="text" name="name" required></td></tr>
        <tr><td>Number of Lectures: </td><td><input type="number" min="0" name="lectureNum" required></td></tr>
        <tr><td>Number of Sections: </td><td><input type="number" min="0" name="sectionNum" required></td></tr>
    </table>
    <input type="submit">
</form>
{% if message %}
    {{ message }}
{% endif %}
<br><br>

<h3>Courses</h3>
<table>
    <tr>
        <th>Course ID</th>
        <th>Name</th>
    </tr>

    {% if courses %}
        {% for c in courses %}
            <tr>
                <td>{{ c.0 }}</td>
                <td>{{ c.1 }}</td>
            </tr>
        {% endfor %}
    {%  else %}
        <tr><td>There are no courses to display.</td></tr>
    {%  endif %}
</table> <br>

<h3>Lectures</h3>
<table>
    <tr>
        <th>Course ID</th>
        <th>Lecture ID</th>
    </tr>

    {% if lectures %}
        {% for l in lectures %}
            <tr>
                <td>{{ l.0 }}</td>
                <td>{{ l.1 }}</td>
            </tr>
        {% endfor %}
    {%  else %}
        <tr><td>There are no lectures to display.</td></tr>
    {%  endif %}
</table> <br>

<h3>Sections</h3>
<table>
    <tr>
        <th>Course ID</th>
        <th>Section ID</th>
    </tr>

    {% if sections %}
        {% for s in sections %}
            <tr>
                <td>{{ s.0 }}</td>
                <td>{{ s.1 }}</td>
            </tr>
        {% endfor %}
    {%  else %}
        <tr><td>There are no sections to display.</td></tr>
    {%  endif %}
</table>

<br><br><br>
    <a href="/dashboard/">Dashboard</a><br><br>
    <form action="/" method="get">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>