{% extends "base.html" %}

{%  block content %}

    <form action="/create-account/" method="post">
        {% csrf_token %}
        <br><h1>Create Account</h1>
        <div class="form-floating">
            <input type="text" name="name" class="form-control" id="floatingInput" placeholder="First Last" required>
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Email Address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="text" maxlength="10" name="number" pattern="\d{10}" class="form-control" id="floatingInput" placeholder="1234567890" required>
            <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating">
            <input type="text" name="address" class="form-control" id="floatingInput" placeholder="1234 Rainbow Road, Milwaukee, WI 53202" required>
            <label for="floatingInput">Address</label>
        </div>


        <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" name="type" placeholder="Type" aria-label="Floating label select example" required>
                <option selected>Select Type</option>
                <option value="A">Administrator</option>
                <option value="P">Professor</option>
                <option value="T">Teaching Assistant (TA)</option>
            </select>
            <label for="floatingSelectGrid">Type of Account</label>
        </div><br>


        <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>

    {% if message %}
        {{ message }} <br><br>
    {% endif %}
    <br>
{% endblock %}

