{% extends "base.html" %}

{%  block content %}

    <p class="fs-1">Welcome, {{ username }}!</p><br>

    <h3>Active Courses</h3>
    {% if courses %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Number of Lectures</th>
                <th scope="col">Number of Labs</th>
            </tr>
            </thead>
            <tbody>
            {% for c in courses %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ c.0 }}</td>
                    <td>{{ c.1 }}</td>
                    <td>{{ c.2 }}</td>
                    <td>{{ c.3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%  else %}
        <tr><td>There are no courses to display.</td></tr>
    {%  endif %}
    <br>
    <h3>Active Accounts</h3>
    {% if admins %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Account Type</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
            </tr>
            </thead>
            <tbody>
            {% for c in admins %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ c.0 }}</td>
                    <td>{{ c.1 }}</td>
                    <td>{{ c.2 }}</td>
                    <td>{{ c.3 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%  else %}
        <tr><td>There are no accounts to display.</td></tr>
    {%  endif %}

    <style>
        .footer {
            position: fixed;
            height: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #F0F0F0;
            color: white;
            text-align: center;
        }
    </style>

    <footer class="footer">
        <span class="text-muted">University of Wisconsin Milwaukee Course Scheduler</span>
    </footer>

{% endblock  %}


<h1>Dashboard</h1>
{% if isAdmin %}
    <p style="font-weight:bold">Accounts</p>
    <a href="/create-account/">View/Create Accounts</a><br><br>
    <p style="font-weight:bold">Courses</p>
    <a href="/create-course/">View/Create Courses</a><br><br>
    <a href="/assign-prof-course/">Assign Professor to Course</a><br><br>
{% endif %}
<p style="font-weight:bold">My Account</p>
<a href="/edit-information/">View/Edit My Account</a><br><br>
<br><br><br>
<form action="/" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>