<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<style>

</style>

<h1>Dashboard</h1>
{% if isAdmin %}
    <p style="font-weight:bold">Accounts</p>
    <a href="/create-account/">View/Create Accounts</a><br><br>
    <p style="font-weight:bold">Courses</p>
    <a href="/create-course/">View/Create Courses</a><br><br>
{% endif %}
    <p style="font-weight:bold">My Account</p>
    <a href="/edit-information/">View/Edit My Account</a><br><br>
<br><br><br>
    <form action="/" method="get">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>