{% extends "base.html" %}

{%  block content %}

    <p class="fs-1">Welcome, {{ username }}!</p><br>

    <style>
        .footer {
            position: fixed;
            height: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #F0F0F0;
            color: white;
            text-align: center;
        }
    </style>

    <footer class="footer">
        <span class="text-muted">University of Wisconsin Milwaukee Course Scheduler</span>
    </footer>

{% endblock  %}


<h1>Dashboard</h1>
{% if isAdmin %}
    <p style="font-weight:bold">Accounts</p>
    <a href="/create-account/">View/Create Accounts</a><br><br>
    <p style="font-weight:bold">Courses</p>
    <a href="/create-course/">View/Create Courses</a><br><br>
    <a href="/assign-prof-course/">Assign Professor to Course</a><br><br>
{% endif %}
<p style="font-weight:bold">My Account</p>
<a href="/edit-information/">View/Edit My Account</a><br><br>
<br><br><br>
<form action="/" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>