<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Information</title>
</head>
<body>
<h1>View/Edit Account Information</h1>
<form action="/edit-information/" method="post">
    {% csrf_token %}
    <table>
        <tr><td>Name: </td><td><input type="text" value="{{ accountName }}" name="name" required></td></tr>
        <tr><td>Email: </td><td><input type="text" value="{{ accountEmail }}" name="email" required></td></tr>
        <tr><td>Password: </td><td><input type="password" value="{{ accountPassword }}" name="password" required></td></tr>
        <tr><td>Phone Number: </td><td><input type="text" value="{{ accountPhoneNumber }}" maxlength="10" name="number" pattern="\d{10}" required></td></tr>
        <tr><td>Address: </td><td><input type="text" value="{{ accountAddress }}" name="address" required></td></tr>
        {% if TA %}
            <tr><td>Skills: </td><td><input type="text" name="skills" value="{{ accountSkills }}"></td></tr>
        {% endif %}
    </table>
    <input type="submit" value="Update Information">
</form> <br>

{% if message %}
    {{ message }}
{% endif %}

<br><br><br>
    <a href="/dashboard/">Dashboard</a><br><br>
    <form action="/" method="get">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>