<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<div class="container padding-bottom-3x mb-2">
    <div class="col-lg-8 col-md-10">
        <h2 style="font-family:verdana;">Forgot your password?</h2>
        <p style="font-family:verdana;">Change your password in three easy steps. This helps to keep your new password secure.</p>
        <ol class="list-unstyled">
            <li><span class="text-primary text-medium"></span>Fill in your email address below.</li>
            <li><span class="text-primary text-medium"></span>We'll email you a temporary code.</li>
            <li><span class="text-primary text-medium"></span>Use the code to change your password.</li>
        </ol>
        <div class="form-float">
            <input class="form-control" type="text" id="new-email" placeholder="Email Address" required>
        </div><br>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Get New Password</button>
</div>
</div>
</body>
</html>