<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles/login.css" media="screen" />
    <meta charset="UTF-8">
    <title>TA Scheduler</title>
</head>


<body class="text-center">
<main class="form-signin">

<form action="/" method="post">
    {% csrf_token %}
    <img class="mb-4" src="pictures/uwm.jpg" alt = "UWM Logo" alt width="72" height="57">
    <h1>TA Scheduler</h1>
    <h2>Please Sign In</h2>
        <div class="form-floating">
            <input type="email" class="form-control" name="email" id="floatingInput" required>
            <label for="floatingInput">Email Address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingInput" required>
            <label for="floatingInput">Password</label>
        </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" class="login" value="Login">
        Sign in</button>
    <!-- <input type="submit" class="login" value="Login"> -->
    </form>
    {{ message }}
    </main>
</body>
</html>

