{% extends "homebase.html" %}

{%  block content %}
    <div class="position-relative">
        <div class="position-absolute top-0 start-0"></div>
        <div class="position-absolute top-0 start-50 translate-middle-x"></div>
        <div class="position-absolute top-0 end-0"></div>
        <div class="position-absolute top-50 start-0 translate-middle-y"></div>
        <div class="position-absolute top-50 start-50 translate-middle"></div>
        <div class="position-absolute top-50 end-0 translate-middle-y"></div>
        <div class="position-absolute bottom-0 start-0"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x"></div>
        <div class="position-absolute bottom-0 end-0"></div>
    </div>
    <form action="/" method="post">
    {% csrf_token %}
        <br>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a9/University_of_Wisconsin%E2%80%93Milwaukee_seal.svg/1200px-University_of_Wisconsin%E2%80%93Milwaukee_seal.svg.png"
         class="rounded mx-auto d-block" alt="UWM Logo" alt width="200" height="200">
    <h1>TA Scheduler</h1>
    <h2>Please Sign In</h2>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <button type="submit" class="btn btn-warning btn-lg" value="Login">Login</button><br><br>
        <a class="btn btn-light btn-sm" href="/forgot-password/" role="button">Forgot Password?</a>
    </form> <br><br>
{% if message %}
    {{ message }}
{% endif %}
{% endblock  %}

